# Project: Exploring eBay Car Sales Data

In this project, I'll be working with a dataset of used cars from eBay Kleinanzeigen, a German eBay website. I'll be cleaning the data and analyzing the car listings

## Exploring the Data

In [1]:
import pandas as pd

autos = pd.read_csv("autos.csv", encoding="Latin-1")

In [2]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Here's a summary overview of what the data represents:
1. <font color=red>dataCrawled</font>: When this ad was first crawled
2. <font color=red>name</font>: Name of the car
3. <font color=red>seller</font>: Whether the seller is private or a dealer
4. <font color=red>offerType</font>: Type of listing
5. <font color=red>price</font>: the price of the car on the ad
6. <font color=red>abtest</font>: Whether the listing is included in an A/B test
6. <font color=red>vehicleType</font>: the vehicle type
7. <font color=red>yearOfRegistration</font>: The year the car was first registered
8. <font color=red>gearbox</font>: The transmission type
9. <font color=red>powerPS</font>: The power of the car in PS
10. <font color=red>model</font>: The car's model name
11. <font color=red>odometer</font>: Distance the car has driven
12. <font color=red>monthOfRegistration</font>: The month the car first registered
13. <font color=red>fuelType</font>: Type of fuel the car uses
14. <font color=red>brand</font>: The brand of the car
15. <font color=red>notRepairedDamage</font>: If the car has a damage that has not been repaired
16. <font color=red>dataCreated</font>: The date on which the eBay listing was created
17. <font color=red>nrOfPictures</font>: The number of pictures in the ad
18. <font color=red>postalCode</font>: The postal code for the location of the vehicle
19. <font color=red>lastSeenOnline</font>: When the crawler saw this add last online

Let's see if there are empty values in each column

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

Observations on our dataset:
1. There are columns that needs to be integers such as <font color=red>price, odometer</font>
2. There are some missing values we need to deal with

## Cleaning Column Names

Let's remove upper case letters so we won't have to remember which letters are capitalized. Let's also rename the columns so they are easier to read

In [4]:
autos.columns = [
    "date_crawled", 
    "name",
    "seller",
    "offer_type",
    "price",
    "abtest",
    "vehicle_type",
    "registration_year",
    "gearbox",
    "power_ps",
    "model",
    "kilometer",
    "registration_month",
    "fuel_type",
    "brand",
    "unrepaired_damage",
    "ad_created",
    "number_of_photos",
    "postal_code",
    "last_seen"
]

In [5]:
autos.tail(3)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_photos,postal_code,last_seen
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

# Initial Cleaning Process

In [6]:
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_photos,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-21 20:37:19,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Observations:
1. The majority(in this case, almost all) of values in columns <font color=red>seller</font> and <font color=red>offer_type</font> only have one value so it makes sense to remove these columns since they don't add value to our analysis
2. <font color=red>price</font> and <font color=red>kilometer</font> needs to be converted to integers
3. Columns <font color=red>number_of_photos</font> looks wrong

### Step1: Removing the seller and offer_type column

In [7]:
autos = autos.drop(["seller","offer_type"], axis=1)

In [8]:
autos.head(3)

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,number_of_photos,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37

### Step2: Converting price and kilometer Columns Into Integers

In [9]:
autos["price"].head(3)

0    $5,000
1    $8,500
2    $8,990
Name: price, dtype: object

The "$" and "," needs to be removed and the columns needs to be converted into integer

In [10]:
autos["price"] = autos["price"].str.replace("$","")
autos["price"] = autos["price"].str.replace(",","")
autos["price"] = autos["price"].astype(int)
autos["price"].head(3)

0    5000
1    8500
2    8990
Name: price, dtype: int64

In [11]:
autos["kilometer"].head(3)

0    150,000km
1    150,000km
2     70,000km
Name: kilometer, dtype: object

The "," and "km" needs to be removed and the column needs to be converted into integer

In [12]:
autos["kilometer"] = autos["kilometer"].str.replace(",","")
autos["kilometer"] = autos["kilometer"].str.replace("km","")
autos["kilometer"] = autos["kilometer"].astype(int)
autos["kilometer"].head(3)

0    150000
1    150000
2     70000
Name: kilometer, dtype: int64

### Step3: Exploring Column number_of_photos & What to Do

In [13]:
autos["number_of_photos"].value_counts()

0    50000
Name: number_of_photos, dtype: int64

It seems like nobody tooks pictures for the ads so this column is useless to our data analysis purposes

In [14]:
autos = autos.drop("number_of_photos",axis=1)
autos.head(3)

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37

## Looking for Outliers and Abnormal Values in price and kilometer

Let's look at columns <font color=red>price</font> and <font color=red>kilometer</font> to see if we can spot unrealistically high or low values that needs to be removed

In [15]:
autos["price"].unique().shape

(2357,)

In [16]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [17]:
autos["price"].value_counts().head(10)

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
Name: price, dtype: int64

Observations:
1. There are about 2357 unique values in the price column
2. There are about 1421 listings with prices listed as 0 dollars, which is 1421/50000=0.028, close to 3%. We can remove these rows since a bidding in eBay starts at 1 dollar
3. The maximum price of a car is about close to 100 million dollars. Can this car fly? 100 million for a car seems quite excessive. This needs to be explored

In [18]:
autos["price"].value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

Observations:
1. It looks like we have very big listings of cars close to one million dollars(14 of them).
2. What's interesting is that biddings that reach 350 thousand dollars jumps into one million dollars, which seems a bit unrealistic, so we should remove them

In [19]:
autos = autos[(autos["price"]>0) & (autos["price"]<=350000)]
autos["price"].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64

## Looking Over Date Columns

In [20]:
autos[["date_crawled",
       "last_seen",
       "ad_created",
       "registration_month",
       "registration_year"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48565 entries, 0 to 49999
Data columns (total 5 columns):
date_crawled          48565 non-null object
last_seen             48565 non-null object
ad_created            48565 non-null object
registration_month    48565 non-null int64
registration_year     48565 non-null int64
dtypes: int64(2), object(3)
memory usage: 2.2+ MB

Let's explore the <font color=red>registration_year</font> column. This columns can tell us how old is a car

In [21]:
autos["registration_year"].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Observations:
1. Interestingly, it looks like one of the cars was first registered in 1000, and another one in 9999(from the future?). A better representation of the data should be in between 1886(when the first car was invented) and 2016

In [22]:
autos = autos[(autos["registration_year"]>=1886)&(autos["registration_year"]<=2016)]
autos.head()

,date_crawled,name,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,kilometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50

In [26]:
print(autos["registration_year"].value_counts(normalize=True)
                          .sort_index())

1910    0.000107
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000043
1937    0.000086
1938    0.000021
1939    0.000021
1941    0.000043
1943    0.000021
1948    0.000021
1950    0.000064
1951    0.000043
1952    0.000021
1953    0.000021
1954    0.000043
1955    0.000043
1956    0.000086
1957    0.000043
1958    0.000086
1959    0.000129
1960    0.000493
1961    0.000129
1962    0.000086
1963    0.000171
1964    0.000257
1965    0.000364
1966    0.000471
1967    0.000557
1968    0.000557
          ...
1987    0.001542
1988    0.002892
1989    0.003727
1990    0.007433
1991    0.007262
1992    0.007926
1993    0.009104
1994    0.013474
1995    0.026285
1996    0.029412
1997    0.041794
1998    0.050620
1999    0.062060
2000    0.067608
2001    0.056468
2002    0.053255
2003    0.057818
2004    0.057904
2005    0.062895
2006    0.057197
2007    0.048778
2008    0.047450
2009    0.044665
2010    0.034040
2011    0.034768
2012    0.028063
2013    0.017202
2014    0.014203
2015    0.008397
2016    0.026135
Name: registration_year, Length: 78, dtype: float64

Looking at the table above, it looks like most cars registered during the past 20 years or so

## Exploring Prices by Brands

In [31]:
(autos["brand"].value_counts(normalize=True)*100).head(20)

volkswagen        21.126368
bmw               11.004477
opel              10.758124
mercedes_benz      9.646323
audi               8.656627
ford               6.989996
renault            4.714980
peugeot            2.984083
fiat               2.564212
seat               1.827296
skoda              1.640925
nissan             1.527388
mazda              1.518819
smart              1.415994
citroen            1.400998
toyota             1.270324
hyundai            1.002549
sonstige_autos     0.981127
volvo              0.914719
mini               0.876159
Name: brand, dtype: float64

Observations:
1. 5/5 were German manufacturers and are listed in the top 5 on this dataset: Volkswagen, Audi, BMW, Opel, and Mercedes-Benz. They represent close to 60% of the overall listings.

Let's find the average price for each of the top 5

In [35]:
mean_brand_prices = {}
top_brands = ["volkswagen","bmw","opel","mercedes_benz","audi"]

for brand in top_brands:
    a_brand = autos[autos["brand"]== brand]
    mean_price = a_brand["price"].mean()
    mean_brand_prices[brand] = mean_price
mean_brand_prices

{'audi': 9336.687453600594,
 'bmw': 8332.820517811953,
 'mercedes_benz': 8628.450366422385,
 'opel': 2975.2419354838707,
 'volkswagen': 5402.410261610221}

Observations: 
1. Audi, Mercedes-Benz, and BMW are the most expensive out of the top brands.
2. Volkswagen may be the most popular brand but it's one of the least expensive ones, and perhaps that's why it's more popular.

## Exploring Mileages & Prices by Brand

In [37]:
mean_brand_mileages = {}

for brand in top_brands:
    a_brand = autos[autos["brand"]==brand]
    mean_mileage = a_brand["kilometer"].mean()
    mean_brand_mileages[brand] = mean_mileage
mean_brand_mileages

{'audi': 129157.38678544914,
 'bmw': 132572.51313996495,
 'mercedes_benz': 130788.36331334666,
 'opel': 129310.0358422939,
 'volkswagen': 128707.15879132022}

In [39]:
series_mileages = pd.Series(mean_brand_mileages).sort_values(ascending=False)
series_prices = pd.Series(mean_brand_prices).sort_values(ascending=False)

summary_statistics_brand = pd.DataFrame(series_mileages,columns=["avg_mileage"])
summary_statistics_brand

                 avg_mileage
bmw            132572.513140
mercedes_benz  130788.363313
opel           129310.035842
audi           129157.386785
volkswagen     128707.158791

In [40]:
summary_statistics_brand["avg_price"] = series_prices
summary_statistics_brand

                 avg_mileage    avg_price
bmw            132572.513140  8332.820518
mercedes_benz  130788.363313  8628.450366
opel           129310.035842  2975.241935
audi           129157.386785  9336.687454
volkswagen     128707.158791  5402.410262